.semFundo{
    background: transparent;
}
.semFundo .divHeader{
    border-bottom: 1px rgb(160, 160, 160) solid;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
}
header{
    /* background-image:  -webkit-repeating-radial-gradient(rgb(14, 14, 253),rgb(12, 22, 92)); */
    background: url('../../imagensSite/fundoHeader.jpg');
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.divHeader{
    background-color: rgba(0, 0, 0, 0.508);
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
}
#loaderCarregandoHeader{
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #00233b; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 700ms linear infinite;
    margin: 10px auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

header .containerHeader{
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
header .containerHeader .a-Logo{
    display: flex;
    align-items: center;
    padding: 5px 0;
}
header .containerHeader .a-Logo img{
    width: 160px;
}
@media (max-width: 700px){
    header .containerHeader{
        width: 75%;
    }
}
@media (max-width: 610px){
    header .containerHeader img{
        width: 120px!important;
    }
}
@media (max-width: 370px){
    header .containerHeader img{
        width: 100px!important;
    }
    header{
        font-size: 15px;
    }
}
