.navConfigUsuario{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divNomeEMenu{
    display: flex;
    align-items: center;
}
.textoOla{
    margin-right: 5px;
    text-align: center;
}
.menu{
    display: flex;
    justify-content: center;
    
}
.btnAbrirMenuConfigUser{
    background-color: transparent;
    border: none;
    cursor: pointer;
    border: 1px rgb(191, 191, 191) solid;
    border-radius: 5px;
}
.btnAbrirMenuConfigUser:hover{
    border: 1px rgb(226, 226, 226) solid;
}
.btnAbrirMenuConfigUser i{
    font-size: 37px;
    color: white;
}
.conteudo{
    display: none;
    position: absolute;
    top: 74px;
    flex-direction: column;
    align-items: center;
    z-index: 10!important;
}
.abrirMenuConfigUsuario{
    display: flex;
}
.triangulo{
    display: inline-block;
    margin-right: 0px;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(237, 237, 237);
}
.nomeNoMenu{
    text-align: center;
    color: black;
    font-size: 17px;
    padding: 10px 10px!important;
}
.opcoes{
    display: flex;
    flex-direction: column;
    top: 60px;
    background-color: rgb(237, 237, 237);
    margin-right: 10px;
}
.btnOpcoesUsuario{
    padding: 15px 10px;
    font-size: 22px;
    text-align: center;
    background-color: transparent;
    border: none;
    border-top: 1px black solid;
    cursor: pointer;
    color: rgb(55, 3, 3);
    text-decoration: none;
}
.btnOpcoesUsuario:hover{
    background-color: rgb(214, 214, 214);
}
.btnOpcoesUsuario:last-child{
    border-bottom: 1px black solid;
}
.btnOpcoesUsuario:hover{
    background-color: rgb(196, 196, 196);
}
@media (max-width: 610px){
    .conteudo{
        top: 67px;
    }
}
@media(max-width: 580px){
    .navConfigUsuario{
        margin: 4px 0;
    }
    .divNomeEMenu{
        flex-direction: column;
    }
    .btnAbrirMenuConfigUser{
        margin-top: 7px;
    }
    .conteudo{
        padding-right: 5px;
        top: 78px;
    }
    .opcoes{
        margin: 0;
    }
}
@media(max-width: 550px){
    .navConfigUsuario{
        padding-left: 20px;
    }
}
@media(max-width: 430px){
    .btnAbrirMenuConfigUser i{
        font-size: 29px
    }
    .conteudo{
        top: 75px;
    }
}
@media (max-width: 370px){
    .conteudo{
        top: 71px;
    }
}