.secaoListaDeUsuarios .container .cabecalhoDaTabela{
    padding: 10px 0;
    background-color: #005a98;
    color: rgb(244, 244, 244);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    width: 100%;
    display: flex;
    align-items: center;
}
.btnVoltarPagIniAdmin {
    font-size: 14px;
    margin-left:15px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 4px 4px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    width: 73px;
    transition: 400ms all;
}
.btnVoltarPagIniAdmin i{
    transform: rotate(180deg);
    margin-right: 5px;
}
.secaoListaDeUsuarios .container .cabecalhoDaTabela .conteudoCabecalho{
    margin: 0 auto;
    width: 930px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}
.secaoListaDeUsuarios .container .cabecalhoDaTabela .conteudoCabecalho .opcoesTabela{
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.secaoListaDeUsuarios .container .cabecalhoDaTabela .conteudoCabecalho .opcoesTabela .btnAbrirMenu{
    font-size: 20px;
}
.secaoListaDeUsuarios .container .cabecalhoDaTabela .conteudoCabecalho .pype{
    margin:0 8px;
}
.secaoListaDeUsuarios .container .cabecalhoDaTabela .conteudoCabecalho  label{
    display: flex;
    align-items: center;
}
.secaoListaDeUsuarios .container .cabecalhoDaTabela .conteudoCabecalho label select{
    font-size: 15px;
    border: none;
    outline: none;
    width: 158px;
    margin-left: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 1px;
    border-radius: 4px;
    box-shadow: 0 0 4px rgb(120 120 120);
    background-color: rgb(234, 234, 234);
}
.secaoListaDeUsuarios .container .cabecalhoDaTabela .conteudoCabecalho label input{
    font-size: 14px;
    margin-left: 3px;
    font-family: 'Montserrat', sans-serif;
}
@media(max-width: 930px){
    .secaoListaDeUsuarios .container .cabecalhoDaTabela .conteudoCabecalho{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .secaoListaDeUsuarios .container .cabecalhoDaTabela .conteudoCabecalho .opcoesTabela{
        flex-direction: column;
        align-items: center;
    }
    .secaoListaDeUsuarios .container .cabecalhoDaTabela .conteudoCabecalho .pype{
        display: none;
    }
    .secaoListaDeUsuarios .container .cabecalhoDaTabela .conteudoCabecalho  label{
        margin-top: 6px;
    }
    .secaoListaDeUsuarios .container .cabecalhoDaTabela .conteudoCabecalho  label .divTextoLabel{
        text-align: center;
        width: 90px;
    }
    .secaoListaDeUsuarios .container .cabecalhoDaTabela .conteudoCabecalho label select{
        width: 200px;
        height: 30px;
        margin: 0;
    }
}
@media(max-width: 390px){
    .btnVoltarPagIniAdmin {
        font-size: 14px;
        margin-left:5px;
        border: 1px solid white;
        border-radius: 5px;
        padding: 4px 4px;
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        width: 73px;
        transition: 400ms all;
    }
    .secaoListaDeUsuarios .container .cabecalhoDaTabela .conteudoCabecalho label select{
        width: 140px;
    }
}