body{
    background-image: url(../imagensSite/fundoMuseu-escuro.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
main{
    display: flex;
    align-items: center;
}
section.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    margin-top: 105px;
}
.link{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 300;
    margin-top: 30px;
}
.link span{
    text-decoration: underline;
}
.link i{
    margin-right: 5px;
    font-size: 35px;
}
@media(max-width: 700px){
    section.container{
        margin-top: 70px;
    }
    .link{
        font-size: 30px;
    }
    .link i{
    
        font-size: 30px;
    }
}
@media(max-width: 460px){
    section.container{
        margin-top: 50px;
    }

    .link{
        font-size: 25px;
    }
    .link i{
        margin-right: 2px;
        font-size: 25px;
    }
}
@media(max-width: 378px){
    section.container{
        margin-top: 50px;
    }

    .link{
        font-size: 22px;
        margin-top: 35px;
    }
    .link i{
        margin-right: 2px;
        font-size: 22px;
    }
}
@media(max-width: 330px){
    section.container{
        margin-top: 50px;
    }

    .link{
        font-size: 20px;
        margin-top: 35px;
    }
    .link i{
        margin-right: 2px;
        font-size: 20px;
    }
}