body{
    margin: 0;
    background-image:url('../../imagensSite/fundoMuseu-escuro-desfocado.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.sessionCentral{
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.divSeletorLoginOuCadastro{
    width: 100%;
    display: flex;
    justify-content: center;
}
.divSeletorLoginOuCadastro button{
    border: none;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: transparent;
    width: 150px!important;
  
}
.divSeletorLoginOuCadastro .btnCadastro{
    width: 30%;
    height: 50px;
}
form{
    margin-top: 15px;
    display: none;
    flex-direction: column;
    padding-top: 45px!important;

}
.formularioDeCadastro{
    padding-top: 20px!important;
}
.inputPadrao{
    border: none;
    border-bottom: 1px solid white;
    height: 30px;
    background-color: transparent;
    color: white!important;
    outline: 0;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
.inputPadrao::placeholder{  
    color: rgb(209, 209, 209);
}
.divInputSenha{
    display: flex;
    width: 100%;
    border-bottom: 1px white solid;
}
.inputSenha{
    width: 100%;
    border: none;
    height: 30px;
    background-color: transparent;
    color: white;
    outline: 0;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
.inputSenha::placeholder{  
    color:  rgb(209, 209, 209);
}
.iconeVerSenha{
    cursor: pointer;
    transition: 500ms;
}
.iconeVerSenha:hover{
    transform: scale(1.1);
}
.btnEnviarLogin{
    border: none;
    border: 1px rgb(165, 165, 165) solid;
    border-radius: 5px;
    background-color: rgb(48, 48, 148);
    color: white;
    padding: 10px;
    width: 110px;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 300ms;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;

}
.btnEnviarLogin:hover{
    transform: scale(1.05);
}
.divEsqueciASenhaEBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.divEsqueciASenhaEBtn a{
    text-decoration: none;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    color:  rgb(209, 209, 209);
}
.btnEnviarCadastro{
    border: none;
    border: 1px rgb(165, 165, 165) solid;
    border-radius: 5px;
    background-color: rgb(48, 48, 148);
    color: white;
    padding: 8px;
    font-size: 14px;
    transition: 200ms;
    cursor: pointer;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}
.btnEnviarCadastro:hover{
    background-color: rgb(27, 27, 125);

}
#loaderCadastrar{
    border: 2px solid #f3f3f3;
    border-top: 2px solid #004b7d;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 700ms linear infinite;
    margin-left: 10px;
}
#loaderLogin{
    border: 2px solid #f3f3f3;
    border-top: 2px solid #004b7d;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 700ms linear infinite;
    margin-left: 10px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.especamentoInputs{
    margin-top: 30px;
}
.marginBtnEnviar{
    margin-top: 20px;
}
.mostrarForm{
    display: flex!important;
}
.adcBordaNoBotao{
    height: 50px;
    border-bottom: 3px white solid!important ;
}
.eror{
    margin-top: 5px;
    color: rgb(217, 0, 0);
    font-family: 'Montserrat', sans-serif;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}
@media (max-width: 500px){
    body{
        align-items: flex-start;
    }
    .divSeletorLoginOuCadastro{
        margin-top: 10px;
    }
    .formularioDeLogin{
        padding-top: 90px!important;
    }
    .formularioDeCadastro{
        padding-top: 30px!important;
    }
    .inputPadrao:nth-child(1){
        margin-top: 0px!important;
    }
    
}
@media (max-width: 510px){
    .sessionCentral form{
        padding: 0 10px;
    } 
}