/* ==================THEAD=======================THEAD=================================THEAD=============THEAD*/
table{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}
thead{
    background-color: rgb(179, 179, 179);
}
.thead__tr__tdNome{
    width: 450px;
    padding-left: 9px;
}
.thead__tr__tdEmail{
    width: 477px;
    
}
.thead__tr__tdNivel{
    width: 100px;
    
}
.thead__tr__tdAcoes{
    width: 200px;
}
.thead__tr__td__divGenericaConteudo{
    display: flex;
    align-items: center;
    font-weight: bold;
}
.thead__tr__td__divGenericaConteudo i{
    font-size: 32px;
}
/* ==================TBODY=======================TBODY=================================TBODY=============TBODY*/
.tbody__tr{
    height: 40px;
}
.secaoListaDeUsuarios .container table tbody tr:nth-child(2n){
    background-color: rgb(199, 199, 199);
}
.tbody__tr__tdGenerico{
    height: 40px;
}
.tbody__tr__tdNome{
    width: 450px;
    padding-left: 9px;
    padding-right: 10px;
}
.tbody__tr__td__divNome{
    margin-bottom: 20px;
}
.tbody__tr__tdEmail{
    width: 477px;
    
}
.tbody__tr__tdNivel{
    width: 100px;
    
}
.tbody__tr__tdAcoes{
    width: 200px;
}
.tbody__tr__td__divConteudoGenerica{
    height: 100%;
    display: flex;
    align-items: center;
}
.containerAcoesItemListaUsuarios{
    display: flex;
}
.containerAcoesItemListaUsuarios .divGenericaBtnAcoes{
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerAcoesItemListaUsuarios .divAcoesNivel{
    width: 125px;
    display: flex;
    align-items: center;
}
.containerAcoesItemListaUsuarios .divAcoesAtividade{
    width: 100px;
}
.divAcoesExcluir {
    margin-left: 10px;
}
.btns_acoes_usuarios{
    text-decoration: none;
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
    background-color: #005a98;
    color: white;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
button.btns_acoes_usuarios{
    font-size: 14px;
    padding: 4px 5px;
}
.tbody__tr__tdAcoes .btnAbrirModal{
    display: none;
    font-size: 30px;
}
.navBtnVerMaisUsuarios{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}
.btnVerMaisUsuarios{
    border: 1px black solid;
    padding: 5px 8px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    cursor: pointer;
    transition: 400ms;
}
.btnVerMaisUsuarios:hover{
    transform: scale(1.1);
}
.displayNone{
    display: none;
}
.desativarLoader{
    display: none!important;
}
#divLoaderBuscarUsuarios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    cursor: progress;
    font-family: 'Montserrat', sans-serif;

}
#loaderBuscarUsuarios{
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #00233b; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 700ms linear infinite;
    margin-bottom: 6px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media(max-width: 760px){
    .thead__tr__tdEmail{
        display: none;
        
    }
    .tbody__tr__tdEmail{
        display: none;
    }
}

@media(max-width: 430px){
    .thead__tr__tdNivel{
        display: none;
        
    }
    .tbody__tr__tdNivel{
        display: none;
    }
}
