.secaoListaDeNoticias .container{
    width: 99%;
}
.secaoListaDeNoticias .container ul li{
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: rgb(167, 167, 167);
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px black solid;
    transition: all 500ms;
    cursor: pointer;
}
.secaoListaDeNoticias .container ul li:hover{
    width: 100%;
}
.linkNoticia{
    text-decoration: none;
    color: black;
    height: 100%;
}
.secaoListaDeNoticias .container ul li .detalhesNoticias{
    display: flex;
    align-items: center;
    height:100%;
  
}
.secaoListaDeNoticias .container ul li .detalhesNoticias .imgPrincipalNoticia{
    width: 100px;
    height: 100%;
    object-fit: cover;
}
.secaoListaDeNoticias .container ul li .detalhesNoticias .nomeNoticia{
    width: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.secaoListaDeNoticias .container ul li .detalhesNoticias .dataNoticia{
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secaoListaDeNoticias .container ul li .detalhesNoticias .likesNoticia{
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secaoListaDeNoticias .container ul li .detalhesNoticias .comentariosNoticia{
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.corTextoCinza{
    color: rgb(17, 17, 17);
}
.secaoListaDeNoticias .container ul li .detalhesNoticias div:not(.imgPrincipalNoticia){
    height: 100%;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
}

.secaoListaDeNoticias .container ul li .navAcoes{
    height: 100%;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.btnAcoesNoticia{
    border: 1px black solid;
    font-size: 18px;
    padding: 4px 8px;
    color: rgb(28, 28, 28);
    border-radius: 5px;
    transition: 200ms all;
}
.btnAcoesNoticia:hover{
    background-color: rgba(201, 201, 201, 0.618);
}
.secaoListaDeNoticias .btnVerMais{
    display: none;
    text-decoration: none;
    padding:10px 15px;
    border: 1px rgb(0, 0, 68) solid;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px ;
    color: rgb(24, 0, 84);
}
.secaoListaDeNoticias .container ul li .navAcoes a i{
    font-size: 33px!important;
}
.displayNone{
    display: none;
}
.displayFlex{
    display: flex;
}
@media (max-width: 1170px){
    .secaoListaDeNoticias .container ul li .detalhesNoticias .nomeNoticia{
        width: 500px;
    }
}
@media (max-width: 1140px){
    .secaoListaDeNoticias .container ul li .detalhesNoticias .likesNoticia{
        width: 100px;
    }
    .secaoListaDeNoticias .container ul li .detalhesNoticias .comentariosNoticia{
        width: 100px;
    
    }
}
@media (max-width: 1120px){
    .secaoListaDeNoticias .container ul li .detalhesNoticias .likesNoticia{
        width: 90px;
    }
    .secaoListaDeNoticias .container ul li .detalhesNoticias .comentariosNoticia{
        width: 90px;
    
    }
}
@media (max-width: 1100px){
    .secaoListaDeNoticias .container ul li .detalhesNoticias .nomeNoticia{
        width: 470px;
    }
}
@media (max-width: 1060px){
    .secaoListaDeNoticias .container ul li .detalhesNoticias .nomeNoticia{
        width: 430px;
    }
}
@media (max-width: 1030px){
    .secaoListaDeNoticias .container ul li .detalhesNoticias .nomeNoticia{
        width: 340px;
    }
}
@media (max-width: 930px){
    .secaoListaDeNoticias .container ul li .detalhesNoticias .comentariosNoticia{
        display: none!important; 
    }
}
@media (max-width: 840px){
    .secaoListaDeNoticias .container ul li .detalhesNoticias .likesNoticia{
        display: none !important;
    }
}
@media (max-width: 750px){
    .secaoListaDeNoticias .container ul li .detalhesNoticias .nomeNoticia{
        width: 320px;
    }
}
@media (max-width: 730px){
    .secaoListaDeNoticias .container ul li .detalhesNoticias .nomeNoticia{
        width: 295px;
    }
}
@media (max-width: 700px){
    .secaoListaDeNoticias .container ul li .detalhesNoticias .dataNoticia{
        display: none!important;
    }
}
@media (max-width: 540px){
    .secaoListaDeNoticias .container ul li{
        height: 65px;
    }
    .secaoListaDeNoticias .container ul li .detalhesNoticias .imgPrincipalNoticia{
        width: 80px;
    }
}
@media (max-width: 500px){
    .secaoListaDeNoticias .container ul li .detalhesNoticias .imgPrincipalNoticia{
        display: none;
    }
}
@media (max-width: 420px){
    .secaoListaDeNoticias .container ul li .navAcoes a{
        display: none;
    }
    .secaoListaDeNoticias .btnVerMais{
        display: flex!important;
    }
    .secaoListaDeNoticias .container ul li .navAcoes{
        width: 111px;
    }
}
@media (max-width: 400px){
    .secaoListaDeNoticias .container ul li .detalhesNoticias .nomeNoticia{
        width: 210px;
    }
}
@media (max-width: 320px){
    .secaoListaDeNoticias .container ul li .detalhesNoticias .nomeNoticia{
        width: 190px;
    }

}