body{
    /* background: url('../../../imagensSite/fundoForms.jpg'); */
    /* background-color: rgb(150, 150, 150); */
    background: url('../../../imagensSite/fundoTextura.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;   
    background-size: cover;
}
.sectionIntegrantes{
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.697);
    min-height: 100vh;
}
.section100DeAltura{
    min-height: 100vh;
}
fieldset{
    width: 932px;
    padding-bottom: 40px;
    margin: 0px auto;
    font-family: 'Montserrat', sans-serif;
    color: rgb(194, 194, 194);
}
fieldset legend{
    text-align:center;
    font-size: 30px;
}
fieldset .btnVoltarPagIniAdmin{
    margin-left:15px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 5px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    width: 73px;
    transition: 400ms all;
}
fieldset .btnVoltarPagIniAdmin:hover{
    transform: scale(1.05);
}
fieldset .btnVoltarPagIniAdmin i{
    transform: rotate(180deg);
    margin-right: 5px;
}
fieldset .container{
    width: 464px;
}
fieldset .container form{
    display: flex;
    flex-direction: column;
}
.formAlto{
    height: 400px;
    justify-content: center;
}
fieldset .container form .divLabelEInput{
    display: flex;
    margin-bottom: 18px;
    flex-direction: column;
}
fieldset .container form .divLabelEInput label{
    font-size: 18px;
    margin-bottom: 5px;

}
fieldset .container form .divLabelEInput .inputForm{
    color: rgb(46, 46, 46);
    width: 460px!important;
    border-radius: 5px;
    border:none;
    height: 36px;
    font-size: 18px;
    padding-left: 5px;
    outline: 0;
    background-color:#dfdfdf;
    font-family: 'Montserrat', sans-serif;
    border: 1px black solid;

}
.eror{
    margin-top: 4px;
    color: rgb(176, 0, 0);
}
.inputPerfil{
    font-size: 17px;
    outline: 0;
    color: rgb(204, 204, 204);
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    border-radius: 0;
    margin: 0px auto;
    margin-top: 3px;
    margin-bottom: 5px;
    width: 90%!important;
}
fieldset .container form button{
    height: 38px;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(0, 38, 190);
    border: none;
    color: white;
    border-radius: 5px;
    border: 1px rgb(196, 196, 196) solid;
    cursor: pointer;
    transition: 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
}
fieldset .container form button:hover{
    background-color: rgb(0, 30, 148);
}
#loaderCadastrarIntegrante{
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #00233b; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 700ms linear infinite;
    margin-left: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
fieldset .divListaIntegrantes{
    margin: 30px auto;
    width: 745px;
}
.desativarLoader{
    display: none!important;
}
#divLoaderBuscarIntegrantes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    cursor: progress;
}
#loaderBuscarIntegrantes{
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #00233b; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 700ms linear infinite;
    margin-bottom: 6px;
}
fieldset .divListaIntegrantes ul li{
    border: 1px rgb(255, 255, 255) solid;
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    /* background-color: rgb(223, 223, 223); */
    background-color: rgba(0, 0, 0, 0.611);
    margin: 0 auto;
    margin-bottom: 10px;
    transition: all 500ms;
    cursor: pointer;
    border-radius: 5px;
}
fieldset .divListaIntegrantes ul li div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
fieldset .divListaIntegrantes ul li div div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
fieldset .divListaIntegrantes ul li div .fotoIntegrante{
    width: 80px;
    height: 100%;
}
fieldset .divListaIntegrantes ul li div .fotoIntegrante img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
fieldset .divListaIntegrantes ul li div .nomeIntegrante{
    width: 300px;
    height: 100%;
    text-align: center;
    padding-right: 8px;
    padding-left: 8px;
}
fieldset .divListaIntegrantes ul li div .cargoIntegrante{
    width: 300px;
    padding-right: 5px;
    text-align: center;
}
.divAcoes{
    width: 90px!important;
}
.divAcoes__btn{
    border: 1px rgb(255, 255, 255) solid;
    background-color: transparent;
    margin-right: 6px;
    color: rgb(28, 28, 28);
    padding: 3px 5px;
    border-radius: 5px;
    transition: 200ms;
}
.divAcoes__btn:hover{
    background-color: rgba(255, 255, 255, 0.202);
}
.divAcoes i{
  font-size: 22px;
  color: white;
}
.erro{
    background-color: rgba(255, 0, 0, 0.433);
    border: 1px red solid;
    margin-bottom: 20px;
    padding: 10px;
}
@media (max-width: 955px){
    fieldset{
        width: 770px;
    }
}
@media (max-width: 780px){
    fieldset{
        width: 670px;
    }
    fieldset .divListaIntegrantes{
        width: 650px;
    }
    fieldset .divListaIntegrantes ul li div .fotoIntegrante{
        width: 100px;
    }
   
}
@media (max-width: 700px){
    fieldset{
        width: 620px;
    }
    fieldset .divBtnVoltar{
        width: 464px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    fieldset .divListaIntegrantes{
        width: 600px;
    }
    fieldset .divListaIntegrantes ul li div .cargoIntegrante{
        width: 200px;
    }
    fieldset .divBtnVoltar .btnVoltarPagIniAdmin{
        margin-left:0px;
    }
    fieldset .divListaIntegrantes ul li div div{
        font-size: 18px;
    }
}
@media (max-width: 640px){
    fieldset{
        width: 520px;
    }
    fieldset .divListaIntegrantes{
        width: 500px;
    }
    fieldset .divListaIntegrantes ul li div div{
      font-size: 17px;
    }
    fieldset .divListaIntegrantes ul li div .fotoIntegrante{
        width: 120px;
    }
}

@media (max-width: 535px){
    fieldset{
        width: 460px;
    }
    fieldset .divListaIntegrantes{
        width: 420px;
    }
    fieldset .divListaIntegrantes ul li div .fotoIntegrante{
        width: 170px;
    }
    fieldset .container form .divLabelEInput .inputForm{
        width: 440px!important;
    }
    fieldset .divBtnVoltar{
        width: 444px;
    }
    fieldset .container{
        width: 444px;
    }
}
@media (max-width: 480px){
    fieldset{
        width: 440px;
    }
    fieldset .divBtnVoltar{
        width: 424px;
    }
    fieldset .container{
        width: 424px;
    }
    fieldset .container form .divLabelEInput .inputForm{
        width: 420px!important;
    }
}
@media (max-width: 460px){
    fieldset .divListaIntegrantes ul li{
        padding: 10px 0;
        height: auto;
    }
    fieldset .divListaIntegrantes ul li div{
        flex-direction: column;
        flex-direction: space-around;
        width: 100%;
        align-items: center;
    }
    fieldset .divListaIntegrantes ul li div div{
        height: 35px;
    }
    fieldset .divListaIntegrantes ul li div .fotoIntegrante{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    fieldset .divListaIntegrantes ul li div .fotoIntegrante img{
        width: 50%;
    }
    .divAcoes{
        display: flex!important;
        flex-direction: row!important;
        justify-content: space-around!important;
        width: 100px!important;
    }
    .divAcoes a{
        margin: 0;
    }
    fieldset{
        width: 370px;
    }
    fieldset .divBtnVoltar{
        width: 354px;
        margin-top: 10px;
    }
    fieldset .container{
        width: 354px;
    }
    fieldset .container form .divLabelEInput .inputForm{
        width: 350px!important;
    }
    fieldset .divListaIntegrantes{
        width: 350px;
    }
}
@media (max-width: 420px){
   
}
@media (max-width: 380px){
    fieldset{
        width: 340px;
    }
    fieldset .divBtnVoltar{
        width: 324px;
    }
    fieldset .container{
        width: 324px;
    }
    fieldset .container form .divLabelEInput .inputForm{
        width: 320px!important;
    }
    fieldset .divListaIntegrantes{
        width: 320px;
    }
    fieldset .divListaIntegrantes ul li div .fotoIntegrante{
        width: 230px;
    }
}
@media (max-width: 350px){
    fieldset{
        width: 300px;
    }
    fieldset .divListaIntegrantes{
        width: 280px;
    }
    fieldset .divBtnVoltar{
        width: 280px;
    }
    fieldset .container{
        width: 284px;
    }
    fieldset .container form .divLabelEInput .inputForm{
        width: 280px!important;
    }
}
@media (max-width: 330px){
    fieldset .divBtnVoltar{
        width: 284px;
    }
    fieldset .container{
        width: 284px;
    }
    fieldset .container form .divLabelEInput .inputForm{
        width: 280px!important;
    }
}
@media (max-width: 320px){
    fieldset legend{
        text-align:center;
        font-size: 25px;
    }
    fieldset .container form .divLabelEInput .divInputSenha input{
        width: 250px!important;
    }
    fieldset .container form .divLabelEInput .divInputSenha img{
        margin-right: 0px!important;
    }
}
@media (max-width: 310px){
    fieldset .divBtnVoltar{
        width: 264px;
    }
    fieldset .container{
        width: 264px;
    }
    fieldset .container form .divLabelEInput .inputForm{
        width: 260px!important;
    }
    fieldset .container form .divLabelEInput .divInputSenha input{
        width: 233px!important;
    }
}
@media (max-width: 290px){
    fieldset .divBtnVoltar{
        width: 254px;
    }
    fieldset .container{
        width: 254px;
    }
    fieldset .container form .divLabelEInput .inputForm{
        width: 250px!important;
    }
    fieldset .container form .divLabelEInput .divInputSenha input{
        width: 223px!important;
    }
}
@media (max-width: 280px){
    fieldset .divBtnVoltar{
        width: 244px;
    }
    fieldset .container{
        width: 244px;
    }
    fieldset .container form .divLabelEInput .inputForm{
        width: 240px!important;
    }
    fieldset .container form .divLabelEInput .divInputSenha input{
        width: 213px!important;
    }
}