.nome-usuario{
    font-size: 20px;
    text-align: center;
    margin: 15px 10px;
}
.email-usuario{
    word-wrap: break-word!important;
    width: 90%;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 5px;
}
.nivel-usuario{
    font-size: 20px;
    text-align: center;
    margin: 5px 10px;
    display: flex;
    flex-wrap: wrap;
}
.navAcoesUsuarios{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    margin: 15px 0;
    
}
.btnAcoesResponsivo{
    text-decoration: none;
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
    background-color: #005a98;
    color: white;
    font-family: 'Roboto'; 
    font-size: 19px;
    margin-left: 5px;
}
.btnTornarAdmin{
    padding: 5px 15px!important;

}
a.btnAcoesResponsivo{
    height: 23px;
    display: flex;
    align-items: center;
}
@media(max-width: 380px){
    .modal{
        width: 350px;
    }
    .btnAcoesResponsivo{
        font-size: 17px;
    }
    a.btnAcoesResponsivo{
        font-size: 17px;
        padding: 3px 5px;
    }
    .navAcoesUsuarios{
        width: 325px;
    }
}
@media(max-width: 365px){
    .modal{
        width: 320px;
    }

}
@media(max-width: 340px){
    .btnAcoesResponsivo{
        font-size: 16px;
    }
    a.btnAcoesResponsivo{
        font-size: 16px;
        padding: 3px 5px;
    }
    .navAcoesUsuarios{
        width: 305px;
    }
}
@media(max-width: 330px){
    .modal{
        width: 300px;
    }
}