:root{
    --largura-conteiner: 1020px;
}
body, p { /*  "reset" */
    margin: 0 0;
    padding: 0 0;
}
body{
    background: url(../../imagensSite/textura.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-position:center;
    /* background-color: rgb(212, 214, 218); */
}
.btnVoltarPag {
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: 20px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 5px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    width: 73px;
    transition: 400ms all;
    font-family: 'Roboto', sans-serif;
}
.btnVoltarPag:hover{
    transform: scale(1.05);
}
.btnVoltarPag i{
    transform: rotate(180deg);
    margin-right: 5px;
}
.noticia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: .5rem .5rem;

    color: white;

    font-family: 'Montserrat', sans-serif;
}
.divOpcoes{
    display: flex;
    width: 190px;
    justify-content: space-between;
}
.opcao{
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 1px white solid;
    font-size: 18px;
    background-color: transparent;
    color: white;
    padding: 5px 5px;
    cursor: pointer;
}
.noticia__titulo {
    font-size: 35px;
    line-height: 42px;
    font-weight:400;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align:center;
}
.btnImagemCapa{
    padding: 0;
    margin: 1.5rem 1.5rem;
    margin-top: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.noticia__imagem {
    max-width: 800px;
    object-fit: cover;

    border:1px white solid;

    
}
.noticia__paragrafo {
    width: 95%;
    margin-top: 15px;
    padding: 20px 10px;
    box-sizing: border-box;
    line-height: 35px;
    font-size: 22px;
    text-align:center;
    background: rgba(39, 39, 39, 0.322);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.imagens{
    display: grid;
    grid-template-columns: 32.4% 32.4% 32.4%;
    width: 95%;
    grid-gap: 15px;
    margin-top: 50px;
}
.imagens .btnImg{
    border: none;
    padding: 0;
    background-color: transparent;
    /* margin-bottom: 20px; */
    cursor: pointer;
}
.imagens img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border: 1px white solid;
}
.imagens object{
    width: 100%;
    height: 350px;
    border: 1px white solid !important;
}
.btnGostei{
    margin-top: 60px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 0;
    font-size: 19px;
    cursor: pointer;
    background-color: rgb(0, 7, 100);
    border: 1px white solid;
    border-radius: 5px;
    color: white;
    transition: 200ms;
    outline: none;
}
.btnGostei:hover{
    background-color: rgb(0, 8, 121);
}
.btnGostei:active{
    background-color: rgb(0, 11, 163);
}
.btnGostei i{
    margin-left: 5px;
    margin-right: 3px;
}
.btnGostei span{
    margin-left: 5px;
}
.btnGosteiDesativado{
    display: none!important;
}
.maisNoticias {
    display: flex;

    margin: 1rem 1rem;
}
.containerModalImg{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.748);
}
.coberturaDaImg{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.containerModalImg .imagem{
    object-fit: fill;
    max-height: 98vh;
    max-width: 90%;
    border: 1px white solid;
}
.btnFechar{
    font-size: 29px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border: 1px white solid;
    background-color: rgba(0, 0, 0, 0.361);
    border-radius: 5px;
    margin-right: 8px;
    margin-top: 8px;
}
.abrirModal{
    display: flex;
}
.removerScroll{
    overflow-y: hidden;
}

@media(max-width: 1060px){
    .imagens{
        grid-template-columns: 48.9% 48.9% ;
    }
}
@media(max-width: 850px){
    .noticia__imagem {
        max-width: 700px;
    }
    .noticia__paragrafo {
        font-size: 21px;
        line-height: 30px;
    }    
}
@media(max-width: 740px){
    .noticia__imagem {
        max-width: 600px;
    }
    .comentarios{
        width: 90%;
    }
    .btnFechar{
        font-size: 18px;
        padding: 3px 6px;
    }
}
@media(max-width: 630px){
    .noticia__titulo {
        font-size: 38px;
    }
    .noticia__imagem {
        max-width: 500px;
    }
}
@media(max-width: 600px){
    .imagens{
        grid-template-columns: 99%;
    }
    .imagens img{
        height: 270px;
    }
    .imagens object{
        height: 270px;
    }
}
@media(max-width: 520px){
    .noticia__titulo {
        font-size: 36px;
    }
    .noticia__data{
        font-size: 14px;
    }
    .noticia__imagem {
        max-width: 400px;
    }
    .noticia__paragrafo {
        padding: 10px 3px;
    }
    .btnGostei{
        font-size: 17px;
    }
}
@media(max-width: 420px){
    .noticia__titulo {
        font-size: 32px;
    }
    .noticia__data{
        font-size: 13px;
    }
    .noticia__imagem {
        max-width: 350px;
    }
    .noticia__paragrafo {
        font-size: 20px;
    }
}
@media(max-width: 415px){
    .noticia__paragrafo {
        width: 100%;
    }
    .imagens{
        width: 100%;
    }
    .imagens img{
        height: 230px;
    }
    .imagens object{
        height: 230px;
    } 
    .btnGostei{
        width: 100%;
    }
}
@media(max-width: 370px){
    .noticia__titulo {
        font-size: 30px;
    }
    .noticia__imagem {
        max-width: 310px;
    }
}
@media(max-width: 340px){
    .imagens img{
        height: 200px;
    }
    .imagens object{
        height: 200px;
    } 
}
@media(max-width: 325px){
    .noticia__imagem {
        max-width: 300px;
    }
}
